body {
  background-image: url("images/white_plaster.png");
}

.row img {
  margin: auto;
}

@media (min-width: 768px) {
  .col-sm img {
    width: 30%;
  }
}

.container {
  background-color: white;
  border: solid 1px #ddd;
}

footer {
  background-color: #666;
  border-top: solid 6px #4aaaa5;
  color: white;
}

h2 {
  color: #4aaaa5;
}
